/* body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
} */

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.note {
    font-size: 50px;
    color: black;
}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}